<ion-header>
  <ion-toolbar >
    <ion-buttons>
      <ion-back-button defaultHref="/transport" color="success"></ion-back-button>
    <ion-title></ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content >
  <ion-grid class="size"><center><h2><b>Confirmed Booking</b></h2></center></ion-grid>
  <ion-label color="black"><br>
    <p><b>Hii Dinesh</b></p>
   <br> <p>...Your booking #456 was confirmed</p>
  </ion-label><br>
    
    <ion-grid class="color">
    
      <p><b>Booking ID</b></p>              
      <p><b>Duration</b></p>
      <p><b>From</b></p>
      <p><b>To</b></p>
      <p><b>Price</b></p>
      <ion-grid class="status">
     <p><b>Status</b></p>
      </ion-grid>
      
    
    </ion-grid>


       
  
        <center><ion-button href="payment"color="success">PAY BOOKING</ion-button></center>
 
      
</ion-content>
