*{
    font-family:lato;
}
.menu-header-bg{
    height:180px;
    width:350px;
    background-color:rgb(83, 67, 234);
    background: linear-gradient(90deg,#3945ef8d 0%,#3945ef8d 100%);
    box-shadow:0px 1px 10px rgba(42, 46, 243, 0.5);
    transform:rotate(-15deg);
    border-radius:10px 10px 10px 50px;
    margin-left:-18px;
    margin-top:-50px;
    margin-bottom:60px;
}
.header-content{
    position: absolute;
    top:30px;
    left:15px;
    display:flex;
    align-items:center;


img{
    width: 80px;
    height:80px;
    border-radius:50%;
    border:7px solid rgba(180, 224, 193, 0.5)
    }
}
.menu-bg{
    height:180px;
    width:350px;
    background-color:rgb(173, 211, 176);
    background: linear-gradient(90deg,#a1cea1 0%,#c0e0bd 100%);
    box-shadow:0px 1px 10px rgba(153, 233, 177, 0.5);
    transform:rotate(-20deg);
    border-radius:10px 10px 10px 50px;
    margin-left:-20px;
    margin-top:-50px;
    margin-bottom:60px;


}