<ion-header>
  <ion-toolbar>
  </ion-toolbar>
  <ion-buttons>
    <ion-back-button defaultHref="/active" color="success"></ion-back-button>
  <ion-title>Booking List</ion-title>
</ion-buttons>
  
 
</ion-header>
<ion-img src="assets/document.jfif"></ion-img>
<ion-content>
  <ion-grid  class="green">
    <ion-row style="border-top:groove">
      <ion-col col-4 >
        <ion-label>Name</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label >Pickup</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label >Drop</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label >Weight</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label >Price</ion-label>
      </ion-col>
      
      </ion-row>
  </ion-grid>
  <ion-grid *ngFor="let bookevent of BookEvent" >
    <ion-row style="border-top:groove">
      <ion-col col-4>
        <ion-label>{{ bookevent.name}}</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label >{{ bookevent.pickup }}</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label >{{ bookevent.hdrop }}</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label >{{ bookevent.weight }}</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label >{{ bookevent.price}}</ion-label>
      </ion-col>
     
      </ion-row>
  </ion-grid>
  
  
  <ion-button>Download pdf</ion-button>
  

</ion-content>
